<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Enter OTP</title>
  </head>
  <body
    style="
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f9;
    "
  >
    <div
      style="
        max-width: 400px;
        margin: 50px auto;
        padding: 20px;
        background: white;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      "
    >
      <h2 style="text-align: center; color: #333"><%=name%> Your Otp is</h2>
      <form>
        <p style="display: block; margin: 8px auto; color: #555">
          OTP: <%=otp%>
        </p>
      </form>
    </div>
  </body>
</html>
